<!DOCTYPE html>
<html>
<html>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body><h2>登录系统</h2>
<form action="student/login.do" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input name="s_phonenum" type="text"></input></td>
        </tr>

        <tr>
            <td>密码：</td>
            <td><input name="student_password" type="password"></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input name="login" type="submit" value="登录"></input></td>
        </tr>
    </table>
</form>

</body>
</html>
</html>